<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    
    <nav class="site-nav">
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
    </nav>

    <section class="banner">
        <h1>{{ title }}</h1>
        {% if subhead %}<h2>{{ subhead }}</h2>{% endif %}
    </section>

    {% block mainContent %}
        {{ content | safe }}
    {% endblock mainContent %}

</body>
</html>