{% extends "layouts/base.njk" %}
{% set layoutStyles = [ 'components/article-promo.css' ]%}

{% set contentClass = "blog-list" %}
{% block mainContent %}

    {{ super() }}



    {% for post in collections.posts %}
        {% include "article-promo.html" %}
    {% endfor %}
    
{% endblock mainContent %}
