{% extends "layouts/base.njk" %}
{% set contentClass = "blog-list" %}
{% block mainContent %}

    {{ super() }}



{% for category in collections.posts %}
<h1>{{ category }}</h1>
{% endfor %}



    {% for post in collections.posts %}
        {% include "article-promo.html" %}
    {% endfor %}
    
{% endblock mainContent %}
