{% extends "layouts/base.njk" %}
{% set contentClass = "blog-list" %}
{% block mainContent %}

    {{ super() }}




    {% for post in collections.posts %}
        {% include "article-promo.html" %}
    {% endfor %}
    
{% endblock mainContent %}
