{% extends "layouts/base.njk" %}

{% set featuredPosts = collections.posts | limit(2) %}
{% block bannerClass %}banner--homepage{% endblock %}
{% block banner %}
    <img class="homepage-headshot" src="/images/headshot.jpg" alt="Bryan's smiling face, glasses slightly askew">
    <h1 class="homepage-title">{{ title }}</h1>
    <h2 class="homepage-headline">{{ headline }}</h2>
    <p>{{ description }}</p>
    <a href="#" class="button">Work with Me</a>
{% endblock banner %}

{% block mainContent %}
<section class="home-articles">
    <h3>Latest Articles</h3>
    {% for post in featuredPosts %}
    {% include "article-promo.html" %}
    {% endfor %}
</section>
<section class="two-third">
    <section class="elsewhere">
        <h3>Other Places you can find me</h3>
        <p>Along with the content on this site, I also post regularly in the following places. Mostly about Development and Design, but sometimes random other topics come up...</p>
        <ul>
            <li><a href="">YouTube</a></li>
            <li><a href="">Twitter</a></li>
            <li><a href="">Dev.to</a></li>
        </ul>
    </section>
    <section class="hire-me">
        <h3>Want to work with me?</h3>
        <p>Some info about how awesome it can be to work with me</p>
        <a href="" class="button">Design Reviews</a>
        <a href="" class="button">Consulting</a>
        <a href="" class="button">Workshops</a>
        
    </section>
</section>
<section class="projects">
    <h3>A Selection of my Projects and Courses</h3>
    <div class="auto-grid">
        <div class="projects__item">
            <img src alt="Practical Grid promo image">
            <h4>Practical CSS Grid</h4>
            <p>A description of things goes here and here and here and here and here</p>
            <a href="#" class="button">Sign up</a>
        </div>
        <div class="projects__item">
            <img src="" alt="PeerReviews promo image">
            <h4>PeerReviews.dev</h4>
            <p>A description of things goes here and here and here and here and here</p>
            <a href="#" class="button">See the Reviews</a>
        </div>
        <div class="projects__item">
            <img src="" alt="Pseudo Power promo image">
            <h4>Pseudo Power: Learn all about CSS Pseudo Elements</h4>
            <p>A description of things goes here and here and here and here and here</p>
            <a href="#" class="button">Sign up</a>
        </div>
        <div class="projects__item">
            <img src="" alt="My Client Wants promo image">
            <h4>My Client Wants</h4>
            <p>A description of things goes here and here and here and here and here</p>
            <a href="#" class="button">Sign up</a>
        </div>
    </div>
</section>

{% endblock mainContent %}