{% extends "layouts/base.njk" %}

{% set featuredPosts = collections.posts | limit(3) %}

{% block banner %}
    <h1>{{ title }}</h1>
    <h2>{{ headline }}</h2>
    <p>{{ description }}</p>
{% endblock banner %}

{% block mainContent %}

{% for post in featuredPosts %}
{% include "article-promo.html" %}
{% endfor %}

{% endblock mainContent %}