{% extends "layouts/base.njk" %}
{% set layoutStyles = [ 
            'homepage.css',
            'components/article-promo.css',
            'components/hire-me.css' ]%}


{% set featuredPosts = collections.posts | limit(2) %}
{% block bannerClass %}banner--homepage{% endblock %}
{% block banner %}
    {% respimg
        "https://bryanlrobinson.com/images/headshot.jpg",
        "Bryan's smiling face, glasses slightly askew",
        "(min-width: 48em) 200px, 600px",
        "homepage-headshot"
    %}
    <h1 class="homepage-title">{{ title }}</h1>
    <h2 class="homepage-headline">{{ headline }}</h2>
    <p>{{ description }}</p>
    <a href="/work-with-bryan/" class="button">Work with Me</a>
{% endblock banner %}

{% block mainContent %}


<section class="home-articles">
    <h3>Latest Articles</h3>
    {% for post in featuredPosts %}
    {% include "article-promo.html" %}
    {% endfor %}
    <a href="/blog/" class="button">See More Articles</a>
</section>
<section class="two-third utility-pad">
    
    <section class="hire-me">
        <h3>Want to work with me?</h3>
        <p>Some info about how awesome it can be to work with me</p>
        <a href="/work-with-bryan/" class="button">Design Reviews</a>
        <a href="/work-with-bryan/" class="button">Consulting</a>
        <a href="/work-with-bryan/" class="button">Workshops</a>
        
    </section>
    <section class="elsewhere">
        <h3>Other Places you can find me</h3>
        <p>Along with the content on this site, I also post regularly in the following places. Mostly about Development and Design, but sometimes random other topics come up...</p>
        <ul>
            <li><a href="https://www.youtube.com/channel/UCTLrD1MTRbjxtFCRaFXqkdQ">YouTube</a></li>
            <li><a href="https://twitter.com/brob">Twitter</a></li>
            <li><a href="https://dev.to/brob">Dev.to</a></li>
        </ul>
    </section>
</section>
<section class="projects utility-pad">
    <h3>A Selection of my Projects and Courses</h3>
    <div class="auto-grid">
        <a href="http://practicalcssgrid.com" class="projects__item">
            {% respimg
                "https://bryanlrobinson.com/images/practical-grid-heart.jpg",
                "Practical Grid promo image",
                "(max-width: 640px) 200px, 400px"
            %}  

            <h4>Practical CSS Grid</h4>
            <p>Learn CSS Grid in 2 hours with 7 practical examples</p>
        </a>
        <a href="https://peerreviews.dev" class="projects__item">
            {% respimg
                "https://bryanlrobinson.com/images/peerreview-banner.jpg",
                "PeerReviews promo image",
                "(max-width: 640px) 200px, 400px"
            %}
            <h4>PeerReviews.dev</h4>
            <p>Get a Code or Design review from industry professionals Bryan Robinson and James Quick</p>
        </a>
        <a href="https://thatsmyjamstack.com/" class="projects__item">
            {% respimg
                "https://bryanlrobinson.com/images/jamstack-pod-promo.svg",
                "Promo image for That's My JAMstack",
                "(max-width: 640px) 200px, 400px",
                "",
                "200,400"
            %}
              </a>
        <a href="https://myclientwants.com" class="projects__item">
            {% respimg
                "https://bryanlrobinson.com/images/client-wants.jpg",
                "My Client Wants promo image",
                "(max-width: 640px) 200px, 400px"
            %}
            <h4>My Client Wants</h4>
            <p>A collection of resources for using the JAMstack in client work</p>
        </a>
    </div>
</section>

{% endblock mainContent %}