{% extends "layouts/post.njk" %}
{% set contentClass = "post-content" %}

{% block banner %}
<h1 class="banner__title">{{ title }}</h1>
{% endblock banner %}

{% block related %}
    
<form class="speaking-contact" netlify netlify-honeypot="bot_capture" name="speaking" action="/thanks/">
    <h2>Invite me to speak</h2>
    <label for="full_name">What should I call you? *</label>
    <input type="text" required name="full_name" id="full_name">

    <label for="__replyto">What's your email address? *</label>
    <input type="email" required name="__replyto" id="__replyto">

    <label for="organization">What conference or company are you with?</label>
    <input type="text" name="organization" id="organization">

    <fieldset>
        <legend>What should I present?</legend>
        {% for presentation in collections.presentations %}{% if presentation.data.draft != true %}<label for="{{ presentation.data.title }}"><input type="checkbox" name="{{ presentation.data.title }}" id="{{ presentation.data.title  }}" value="{{ presentation.data.title }}"> {{ presentation.data.title }}</label>{% endif %} {% endfor %}
        <label for="something-special"><input type="checkbox" name="something-special" id="something-special" value="Special"> Something Special</label>
    </fieldset>

    <label for="message">What else should I know?</label>
    <textarea id="message" name="message" rows="4" cols="80"></textarea>
    
    <input type="hidden" name="page" id="page" value="{{ page.url }}">
    <div style="display: none;">
        <label for="bot_capture">Don't fill this out</label><input name="bot_capture" type="text">
    </div>
    <input type="submit" value="Start the Conversation">
</form>
{% endblock related %}
