---
pagination:
    data: collections.categories
    alias: category
    size: 1
permalink: /blog/category/{{ category.slug }}.html
---
{% extends "layouts/blog.njk" %}
{% block pageTitle %}
{{ category.title | capitalize }} Blog Posts -
{% endblock pageTitle %}
{% block bannerTitle %}
{{ category.title | capitalize }} Blog Posts
{% endblock bannerTitle %}

{% block mainContent %}
    {% for post in category.posts %}
        {% include "article-promo.html" %}
    {% endfor %}
{% endblock mainContent %}
