* {
    box-sizing: border-box;
}
:root {
    --faded-bg: #edffef;
    --darker-bg: #dffee1;
    --transparent-black: rgba(10, 10, 10, .8);
    --font-condensed: 'IBM Plex Sans Condensed', 'Helvetica Neue', Arial, sans-serif;
    --accent-transparency: 1;
    --accent-color: rgba(237, 106, 90, 1);
    --aside-height: 5;
}
html {
    font-size: 135%;
    line-height: 1.5em;
    font-family: 'IBM Plex Sans', sans-serif;
}
body {
    margin: 0;
}
img {
    max-width: 100%;
}
a {
    color: var(--accent-color);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-condensed);
    font-weight: normal;
}
.utility-pad {
    padding: 2rem;
}
@media (max-width: 840px) {
    .utility-pad {
        padding: 1rem 3vw;
    }
}
.button {

    display: inline-block;
    color: var(--transparent-black);
    text-decoration: none;
    padding: .5rem 1.5rem;
    border: 3px solid currentColor;
    border-radius: 3px;
    transition: .3s ease-out;
    text-align: center;
}
.button:hover {
    background-color: rgba(233, 254, 225, .85);
}
.button.color-fill:hover {
    background-color: rgba(233, 254, 225, .85);
}

.site-nav {
    padding: 1rem 1rem 0;
    display: flex;

    font-size: .9rem;
}
.nav-items {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.site-nav__item {
    display: flex;
    align-items: stretch;
    padding: 0 .5rem 1rem;
    margin: 0 .75rem 0 0;
    text-decoration: none;
    font-weight: 700;
    border-bottom: 5px solid transparent;
}
.site-nav__item:last-child {
    margin-right: 0;
}
.site-nav__item:hover, .site-nav__item.active {
    border-bottom: 5px solid var(--transparent-black);
}
.logo {
    flex: 1;
    border: none;
}

.logo img {
    min-height: 2rem;
    margin: auto;
}
@media (max-width: 640px) {
    .site-nav {
        flex-direction: column;
    }
    .logo {
        flex: unset;
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
    .nav-items {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: none;
        justify-content: flex-start;
        padding: 1rem 0;
        position: relative;
    }

    .site-nav__item {
        flex: 1 0 auto;
    }
    .site-nav__item {
        padding: 0;
    }
}

.banner {
    background-color: var(--faded-bg);
    padding: 1.5rem 2rem 2rem;
    border-top: 5px solid var(--transparent-black);
    border-bottom: 5px solid var(--transparent-black);
}
.banner__title {
    font-size: 3rem;
    line-height: 1.1em;
    margin: 0;
}
.homepage-title {
    margin: 0 0 1rem;
    font-size: 2.25rem;
    line-height: 1.3em;
}
.homepage-headshot {
    --aspect: 50vw;
    border-radius: 50%;
    width: var(--aspect);
    height: var(--aspect);
    min-width: 200px;
    min-height: 200px;
    max-height: 600px;
    max-width: 600px;
    object-fit: cover;
    border: 5px solid #111;
    shape-outside: margin-box;
    margin: 0 auto 1rem;
    display: block;

}
@media (min-width: 769px) {
    .homepage-headshot {
        --aspect: 40vw;
        margin: 1rem 2.5rem 1rem 0;
        float: left;
    }
}

.home-articles {
    width: 90vw;
    max-width: 850px;
    margin: 1rem auto;
}

.blog-content {
    margin-left: auto;
    display: grid;
    grid-template-columns: [fullWidth-start] minmax(2rem, .15fr) [breakout-start content-start] minmax(10ch, 75ch) [content-end] 1fr [breakout-end aside-start] minmax(20ch, 1fr) [aside-end] minmax(1rem, .15fr) [fullWidth-end];
    grid-row-gap: 1rem;
}

.blog-content > * {
    grid-column: content;
    margin: 0;
}
.blog-related {
    grid-column: aside;
    grid-row: 1 / span var(--aside-height);
    position: sticky;
    top: .5rem;
    align-self: stretch;
    font-size: .8rem;
    line-height: 1.5em;
    border-left: 1px solid var(--transparent-black);
    padding: 1rem;
}
.blog-content blockquote, .blog-content img, .blog-content pre {
    grid-column: breakout;
}
.blog-content blockquote, .blog-content pre {
    padding: .5rem 1rem;
    border-left: 10px solid var(--transparent-black);
    background-color: var(--faded-bg);
}
.blog-content *:first-child {
    margin-top: 1rem;
}
.blog-content pre {
    overflow-x: auto;
}
.blog-content h1, .blog-content h2, .blog-content h3 {
    margin-top: 1em;
}

.adspace {
    margin-bottom: 1rem;
}
.adspace * {
    margin: 0;
}
.adspace img {
    max-height: 7rem;
    width: 100%;
    object-fit: cover;
}

p > code {
    background-color: #fff4fc;
    border: 1px solid rgba(10, 10, 10, .8);
    border-radius: 5px;
    padding: .25rem .25rem;
}

@media (max-width: 860px) {
    .blog-content {
        margin: 0 .5rem;
    }
    .blog-content > *, .blog-content blockquote, .blog-content pre {
        grid-column: fullWidth;
        grid-row: auto;
    }
}
.category-list {
    display: flex;
    list-style: none;
    padding: 0;
}
.category-list__item {
    margin-right: 1rem;
}
.category-list__link {
    display: inline-block;
    padding: .25rem .5rem;
    border: 1px solid var(--transparent-black);
    border-radius: 5px;
    color: var(--transparent-black);
    text-decoration: none;
    font-size: .8rem;
}

.related-list {
    margin: 0;
    list-style: square;
    padding-left: 2ch;
    color: #555;
}
.related-list__item {
    margin-bottom: .5rem;
    padding: 0;

}
.related-list__item a {
    color: #555;
}

.article {
    margin-bottom: 2rem;
}
.article > * {
    margin: 0;
}
.article__date {
    display: block;
    font-size: .8em;
    margin-bottom: .5rem;
}
.article__description {

}

.two-third {
    display: grid;
    grid-template-columns: 1.25fr 2fr;
    grid-gap: 2rem;
}
@media (max-width: 840px) {
    .two-third {
        display: block;
    }
}
.elsewhere {
    grid-area: 1 / 1;

}
.hire-me {
    background-color: var(--faded-bg);
    padding: 1rem 1.5rem;
    border: 5px solid var(--transparent-black);
    grid-column: 2;
}
.hire-me .button {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.auto-grid {
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1.5rem;
}

.projects__item {
    display: block;
    box-shadow: 0 0 1px #000;
    text-decoration: none;
    color: #333;
    transition: .3s ease-out;
}
.projects__item:hover {
    box-shadow: 0 0 3px #000;
}
.projects__item * {
    margin: 0;
}
.projects__item img {
    height: 10rem;
    width: 100%;
    object-fit: cover;
}
.projects__item * + * {
    padding: 0 1rem;
    margin-top: .5rem;
}
.projects__item :last-child {
    margin-bottom: 1rem;
}

.content {
    display: grid;
    grid-template-columns: [fullWidth-start] minmax(3vw, 1fr) [content-start] minmax(10ch, 75ch) [content-end] minmax(3vw, 1fr) [fullWidth-end];
    margin-top: 2rem;
}
.post-content {
    display: block;
    margin-top: 0;
}
.content > * {
    grid-column: content;
}
.content.homepage-content {
    margin-top: 0;
    display: block;
}


.site-footer {
    margin-top: 2rem;
    padding: .5rem .5rem;
    font-size: .9rem;
    text-align: center;
    background-color: var(--transparent-black);
    color: white;
}



input[type="text"], input[type="email"], textarea {
    padding: 10px;
    border: 1px solid var(--transparent-black);
    display: block;
    width: 100%;
    font-size: 1.1rem;
    color: var(--transparent-black);
    margin-bottom: 1rem;
}
label {
    font-size: .8rem;
    color: var(--transparent-black);
    display: block;
}
fieldset {
    margin-bottom: .75rem;
}

input[type="submit"] {
    display: block;
    background-color: var(--darker-bg);
    padding: 10px 25px;
    color: var(--transparent-black);
    font-size: 1rem;
    border: 2px solid currentColor;
    cursor: pointer;
    transition: .3s ease-out;
    -webkit-appearance: none;

}
input[type="submit"]:hover {
    background-color: darken($color-brand, 15%);
}
.speaking-contact {

}
.speaking-grid {
}
.presentation {
    margin-bottom: 3rem;
}

.events {
    width: 100%;
    max-width: 80ch;
    margin: 0;

}
.events td {
    padding: .5rem 0;
}
@media (max-width: 1024px) {
    .event {
        display: block;
        margin-bottom: 1.5rem;
    }
    .event td {
        display: block;
    }
}
.event__title {   
        margin-bottom: 0;
}
.event__datestamp {
    font-size: .8em;
    margin-bottom: 1em;
    font-style: italic;
}




/* PRISM THEMES */ 

/**
 * GHColors theme by Avi Aryan (http://aviaryan.in)
 * Inspired by Github syntax coloring
 */

 code[class*="language-"],
 pre[class*="language-"] {
     color: #393A34;
     direction: ltr;
     text-align: left;
     white-space: pre;
     word-spacing: normal;
     word-break: normal;
     font-size: 0.95em;
     line-height: 1.4em;
 
     -moz-tab-size: 4;
     -o-tab-size: 4;
     tab-size: 4;
 
     -webkit-hyphens: none;
     -moz-hyphens: none;
     -ms-hyphens: none;
     hyphens: none;
 }
 
 pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
 code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
     background: #b3d4fc;
 }
 
 pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
 code[class*="language-"]::selection, code[class*="language-"] ::selection {
     background: #b3d4fc;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
     padding: 1em;
     margin: .5em 0;
     overflow: auto;

 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
     padding: .2em;
     padding-top: 1px; padding-bottom: 1px;
     background: #f8f8f8;
     border: 1px solid #dddddd;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
     color: #999988; font-style: italic;
 }
 
 .token.namespace {
     opacity: .7;
 }
 
 .token.string,
 .token.attr-value {
     color: #e3116c;
 }
 .token.punctuation,
 .token.operator {
     color: #393A34; /* no highlight */
 }
 
 .token.entity,
 .token.url,
 .token.symbol,
 .token.number,
 .token.boolean,
 .token.variable,
 .token.constant,
 .token.property,
 .token.regex,
 .token.inserted {
     color: #36acaa;
 }
 
 .token.atrule,
 .token.keyword,
 .token.attr-name,
 .language-autohotkey .token.selector {
     color: #00a4db;
 }
 
 .token.function,
 .token.deleted,
 .language-autohotkey .token.tag {
     color: #9a050f;
 }
 
 .token.tag,
 .token.selector,
 .language-autohotkey .token.keyword {
     color: #00009f;
 }
 
 .token.important,
 .token.function,
 .token.bold {
     font-weight: bold;
 }
 
 .token.italic {
     font-style: italic;
 }